/* Chrome, Edge, Safari */
.scroll-invisible::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* Firefox */
.scroll-invisible {
  scrollbar-width: none; /* Oculta en Firefox */
}

.scroll-invisible {
  -ms-overflow-style: none; /* IE 10+ */
}

.ant-table-cell::before {
  content: none !important;
  height: 80% !important;
  margin: auto !important;
  width: 0.5 !important;
  /* background-color: red !important; */
}

.custom-table-row-disabled-dark,
.custom-table-row-disabled-light {
  cursor: not-allowed !important;
  text-decoration: line-through !important;
}

.custom-table-row-disabled-light {
  background-color: #f5f5f5 !important;
  color: rgba(0, 0, 0, 0.25) !important;
}

.custom-table-row-disabled-dark {
  background-color: #424242 !important;
  color: #a61d24 !important;
}

* {
  ::-webkit-scrollbar {
    width: 4px !important;
  }

  ::-webkit-scrollbar {
    width: 5px;
    background-color: #fff;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: #bfbfbf;
    border-radius: 8px;
  }
}

.btn-disabled {
  opacity: 0.6 !important;
  color: #d9d9d9 !important;
}

/* .custom-btn-clear {
  cursor: pointer;
} */
